SECRET_KEY=django-insecure-test-key-123
DEBUG=True

NAME=lms_db
USER=postgres
PASSWORD=postgres
HOST=db
PORT=5432

STRIPE_API_KEY=sk_test_12345

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

EMAIL_HOST_USER=test@gmail.com
EMAIL_HOST_PASSWORD=test
